@media screen and (min-width: 1024px) {
    /* Nav-bar */

    /* (Open & Close)-menu button */
    #open-menu,
    #close-menu {
        display: none;
    }
    .nav-items {
        font-size: 1.8rem;
        font-weight: 500;
        margin-left: 4rem;
        transition: 1000ms ease;
        & :hover,
        &.active {
            border-bottom: 2px solid var(--base-color);
            color: var(--base-color);
        }
    }
    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav ul.nav-links {
        position: static;
        display: flex;
    }

    li.nav-items > * {
        width: 100%;
        /* height: 50px; */
    }

}