@media screen and (min-width: 1024px) {
    /* Nav-bar */

    /* (Open & Close)-menu button */
    #open-menu,
    #close-menu {
        display: none;
    }
    .nav-items {
        font-size: 1.8rem;
        font-weight: 500;
        margin-left: 4rem;
        transition: 1000ms ease;
        & :hover,
        &.active {
            border-bottom: 2px solid var(--base-color);
            color: var(--base-color);
        }
    }
    .nav {
        display: flex;
        justify-content: space-between;
    }

    .nav ul.nav-links {
        position: static;
        display: flex;
        height: 30px;
        width: auto;
        background-color: rgba(19, 19, 19, 0.3);
        backdrop-filter: blur(7px);
        border-radius: 3px;
        box-shadow: 2px 2px 7px 2px rgb(0, 0, 0);
    }

    li.nav-items > * {
        width: 100%;
        /* height: 50px; */
    }

    /* Home section */
    section.home {
        flex-direction: row;
    }
}
