@media screen and (min-width: 320px) {
    /* Header section ---> Nav-items */
    .nav-items {
    padding: .2rem .5rem;
    width: 100%;
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: 4rem;
    transition: 1000ms ease;
    & :hover,
    &.active {
        border-bottom: 2px solid var(--base-color);
        color: var(--base-color);
    }
    }
    nav ul.nav-links {
    position: fixed;
    top: 0;
    right: 0;
    height: 50vh;
    z-index: 1000;
    width: 250px;
    background-color: rgba(108, 183, 224, 0.12);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(108, 183, 224, 0.2);
    }

    li.nav-items > * {
    width: 100%;
    height: 50px;
    }

    /* Section -> Home */
    section.home {
        flex-direction: column;
        align-items: center;
        & .home-img {
            border: 2px solid indigo;
            & > *{
                aspect-ratio: 2/3;
            }
            
        }
    }
}