section.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8rem;
  background-color: var(--bg-primary);
  padding-inline: 3em;
  & .home-content h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
  }
  & .home-content p.landing-info {
    font-size: 1.6rem;
    font-weight: 500;
  }
  & .home-content h3 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
}

.home-img {
  border-radius: 50%;
}

.dp-img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  cursor: pointer;
  transition: 300ms ease-in;
}

.dp-img:hover {
  box-shadow: 0 0 35px 12px var(--base-color);
}
