/* Logo style */
.logo {
  font-size: 4rem;
  border: 2px solid yellowgreen;
  color: var(--base-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
  place-content: center center;
}

.logo:hover {
  transform: scale(1.1);
}
