.nav-items {
  padding: .2rem .5rem;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  margin-left: 4rem;
  transition: 1000ms ease;
  & :hover,
  &.active {
    border-bottom: 2px solid var(--base-color);
    color: var(--base-color);
  }
}
nav ul.nav-links {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
}
