/* Social-icons */
.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid var(--base-color);
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: var(--base-color);
}

.social-icons a:hover{
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: var(--base-color);
  box-shadow: 0  0 25px var(--base-color);
}
