.typing-text > span {
    overflow-x: hidden;
    width: 0;
    /* outline: 2px solid red; */
    /* margin-inline: auto; */
    border-right: .15em solid var(--base-color);
    white-space: nowrap;
    animation: typing 4s steps(18) forwards,
    blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0;}
    to {width: 100%;}
}
@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}