:root {

  /* || COLORS */
  --bg-primary: #0d1117; /* Background color*/
  --bg-secondary: #161b22; /* Use for cards, navbars, and section contrasts. */
  --base-color: #6cb7e0; /* Moon color */
  --text-primary: #e6edf3; /* Clean, readable against dark background. */
  --text-secondary: #9ba3b0; /* Softer text (e.g., subtitles, descriptions). */
  --highlight-color: #6cb7e0; /* For buttons, links, icons, and hover effects. */
  --accent: #d4ecfc; /* Slightly brighter version for hover or active state. */
  --accent-hover: #ff6b6b; /* For warning */
}

/* Components */


@media screen and (min-width: 320px) {
}
@media screen and ( min-width: 768px) {
  .nav ul.nav-links li:hover {
  background-color: var(--bg-secondary);
  }
}
@media screen and ( min-width: 1024px) {
  
}
@media screen and ( min-width: 1200px) {
  
}