@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import "./styles/logo.css";
@import "./styles/open-menu-btn.css";
@import "./styles/hidden.css";
@import "./styles/nav-items.css";
@import "./styles/social-icons.css";
@import "./styles/utils/constant.css";
@import "./styles/Media-Query/Mobile.css";
@import "./styles/Media-Query/Mobile-Pad.css";
@import "./styles/Media-Query/Laptop-screens.css";
@import "./styles/Media-Query/Large-Screens.css";
@import "./styles/home-section.css";
:root {
  /* || COLORS */
  --bg-primary: #0d1117; /* Background color*/
  --bg-secondary: #161b22; /* Use for cards, navbars, and section contrasts. */
  --base-color: #6cb7e0; /* Moon color */
  --text-primary: #e6edf3; /* Clean, readable against dark background. */
  --text-secondary: #9ba3b0; /* Softer text (e.g., subtitles, descriptions). */
  --highlight-color: #6cb7e0; /* For buttons, links, icons, and hover effects. */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--highlight-color);
  color: var(--bg-primary);
}

html, body {
  background-color: var(--bg-primary);
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  min-height: 100vh;
  margin: 3vh 3vw;
  overflow-x: hidden;
  border: 2px solid red;
  background-color: var(--bg-primary);
}

header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
  border: 2px dashed orange;
  position: relative;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid greenyellow; */
}

a {
  text-decoration: none;
  color: white
}
