@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  /* || COLORS */
  --bg-primary: #0d1117; /* Background color*/
  --bg-secondary: #161b22; /* Use for cards, navbars, and section contrasts. */
  --base-color: #6cb7e0; /* Moon color */
  --text-primary: #e6edf3; /* Clean, readable against dark background. */
  --text-secondary: #9ba3b0; /* Softer text (e.g., subtitles, descriptions). */
  --highlight-color: #6cb7e0; /* For buttons, links, icons, and hover effects. */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::selection {
  background: var(--highlight-color);
  color: var(--bg-primary);
}

html, body {
  background-color: var(--bg-primary);
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  margin: 3vh 9vh;
  overflow-x: hidden;
  border: 2px solid red;
}

header {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
  color: white
}
